.layout-content {
  height: calc(100vh - 194px);
  overflow-y: auto;
}
.ant-layout-header {
  height: auto;
}
.logo {
  height: 32px;
  margin: 16px;
  background: #FFF;
  background-image: url('../../commons/images/logo-con-tom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.header-aggrid {
  height: 33px;
  .header-aggrid-pageSize {
    float: left;
  }
  .header-aggrid-button {
    float: right;
  }
}
.grid-content {
  height: 100%;
}
// .ant-modal {
//   width: auto !important;
// }